$black: #000000;
$blue: #1897F2;
$blue-dark: #1087DA;
$blue-light: #6DC2FF;
$blue-white: #DCF0FF;

$grey: #DDDDDD;
$grey-dark: #AAAAAA;
$grey-light: #F2F2F2;
$grey-white: #F7F7F7;

$default-transition: 0.15s;
$slow-transition: 0.3s;